<aside id="menubar" class="menubar light in">
    <div class="app-user">
        <div class="media">
            <div class="media-left">
                <div class="avatar avatar-md avatar-circle dropdown">
                   
                </div><!-- .avatar -->
            </div>
            <div class="media-body">
                <div class="foldable">                   
                    <ul>
                        
                    </ul>
                </div>
            </div><!-- .media-body -->
        </div><!-- .media -->
    </div><!-- .app-user -->
    <div class="menubar-scroll">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 752px;">
            <div class="menubar-scroll-inner" style="overflow: hidden; width: auto; height: 752px;">
                <ul class="app-menu">
                    <li class="has-submenu">
                        <a href="#!/panel" class="submenu-toggle">
                            <i class="menu-icon fa fa-home"></i>
                            <span class="menu-text">Panel</span>
                        </a>
                    </li>                    
                    <li class="has-submenu" >
                        <a href="#!/escuderias" class="submenu-toggle">
                            <i class="menu-icon fa fa-th-large"></i>
                            <span class="menu-text">Escuderias</span>
                        </a>
                    </li>
                    <li class="has-submenu" >
                        <a href="#!/pilotos" class="submenu-toggle">
                            <i class="menu-icon fa fa-newspaper-o"></i>
                            <span class="menu-text">Pilotos</span>
                        </a>
                    </li>
                    <li class="has-submenu" >
                        <a href="#!/carreras" class="submenu-toggle" >
                            <i class="menu-icon fa fa-ticket"></i>
                            <span class="menu-text">Carreras</span>
                        </a>                      
                    </li>
                    <li class="has-submenu" >
                        <a href="#!/detalles_carreras" class="submenu-toggle">
                            <i class="menu-icon fa fa-building"></i>
                            <span class="menu-text">detalles_carreras</span>
                        </a>
                    </li>                    
                </ul><!-- .app-menu -->
            </div>
            <div class="slimScrollBar" style="background: rgb(152, 166, 173); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 702.489px;">          
            </div>
            <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">            
            </div>
        </div><!-- .menubar-scroll-inner -->
    </div><!-- .menubar-scroll -->
</aside>